In [16]:
import pandas as pd
df=pd.read_csv('Desktop/Heart.csv')
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [17]:
df.shape #Used to give the total number of rows and columns

(303, 15)

In [5]:
df.values #Used to display the values

array([[1, 63, 1, ..., 0.0, 'fixed', 'No'],
       [2, 67, 1, ..., 3.0, 'normal', 'Yes'],
       [3, 67, 1, ..., 2.0, 'reversable', 'Yes'],
       ...,
       [301, 57, 1, ..., 1.0, 'reversable', 'Yes'],
       [302, 57, 0, ..., 1.0, 'normal', 'Yes'],
       [303, 38, 1, ..., nan, 'normal', 'No']], dtype=object)

In [11]:
df.describe

<bound method NDFrame.describe of      Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[303 rows x 15 columns]>

In [14]:
df.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [18]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [20]:
df.Ca[df.Ca==0].count()

176

In [22]:
df.Fbs[df.Fbs==0].count()

258

In [23]:
 df.isin([0]).any().any()

True

In [24]:
df['Age'].mean()

54.43894389438944

In [15]:
cols=[1,2,3,4]
pf=df[df.columns[cols]]

In [48]:
pf

     Age  Sex     ChestPain  RestBP  Chol
0     63    1       typical     145   233
1     67    1  asymptomatic     160   286
2     67    1  asymptomatic     120   229
3     37    1    nonanginal     130   250
4     41    0    nontypical     130   204
..   ...  ...           ...     ...   ...
298   45    1       typical     110   264
299   68    1  asymptomatic     144   193
300   57    1  asymptomatic     130   131
301   57    0    nontypical     130   236
302   38    1    nonanginal     138   175

[303 rows x 5 columns]

In [4]:
X=df[['Age','Sex','RestBP','Chol']]
X

     Age  Sex  RestBP  Chol
0     63    1     145   233
1     67    1     160   286
2     67    1     120   229
3     37    1     130   250
4     41    0     130   204
..   ...  ...     ...   ...
298   45    1     110   264
299   68    1     144   193
300   57    1     130   131
301   57    0     130   236
302   38    1     138   175

[303 rows x 4 columns]

In [5]:
Y=df[['ChestPain']]
Y

        ChestPain
0         typical
1    asymptomatic
2    asymptomatic
3      nonanginal
4      nontypical
..            ...
298       typical
299  asymptomatic
300  asymptomatic
301    nontypical
302    nonanginal

[303 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split #train_test_split --> Function of sklearn.model_selection
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25)
#X_train
#X_test
#Y_train
#Y_test

In [11]:
X_train

     Age  Sex  RestBP  Chol
139   51    1     125   245
143   64    1     125   309
211   38    1     120   231
246   58    1     100   234
278   57    1     154   232
..   ...  ...     ...   ...
194   68    0     120   211
297   57    0     140   241
223   53    1     123   282
219   59    1     138   271
145   47    1     108   243

[227 rows x 4 columns]

In [12]:
len(X_train)

227

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.datasets import load_digits

digits= load_digits()

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(digits.data,digits.target,test_size=0.3)

In [4]:
lr=LogisticRegression()
lr.fit(X_train,Y_train)
lr.score(X_test,Y_test)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9666666666666667

In [13]:
svm=SVC()
svm.fit(X_train,Y_train)
svm.score(X_test,Y_test)

0.9833333333333333

In [12]:
fc=RandomForestClassifier(n_estimators=40)
fc.fit(X_train,Y_train)
fc.score(X_train,Y_train)

1.0

In [19]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=3)
kf

KFold(n_splits=3, random_state=None, shuffle=False)